*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-pai {
    display: flex;
    flex-direction: column;
    background-color: beige;
    
}

.box{
    width:10vw;
    min-width: 5vw;
    height: 15vw;
    margin: 3vh 3vw;
    padding: 1vh 1vw;
    display: block;
    
}

.box-child-1{
    border: solid 0.3vw red;
    width:auto;
    height: 9vw;
    
}

.box-child-2{
    border: solid 0.3vw red;
    width: auto;
    height: 20vw;
    display: flex;
    flex-direction: row;
  
}
.box-child-5{
    border: solid 0.3vw red;
    height: 15vw;
    margin: 2vh 1vw;
    width:15vw;
    
}
.box-child-6{
    border: solid 0.3vw red;
    height: 15vw;
    margin: 2vh 1vw;
    width:70vw;
}    
.box-child-3{
    border: solid 0.3vw red;
    width: auto;
    height: 20vw;
    display: flex;
    flex-direction: row;
}
.box-child-7{
    border: solid 0.3vw red;
    height: 15vw;
    margin: 1vh 1vw;
    width:25vw;
}
.box-child-8{
    border: solid 0.3vw red;
    height: 15vw;
    margin: 1vh 1vw;
    width:25vw;
}
.box-child-9{
    border: solid 0.3vw red;
    height: 15vw;
    margin: 1vh 1vw;
    width:25vw;
}
.box-child-10{
    border: solid 0.3vw red;
    height: 15vw;
    margin: 1vh 1vw;
    width:25vw;
}

.box-child-4{
    border: solid 0.3vw red;
    width: auto;
    height: 20vw;

}
    


